@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,400;1,500&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.joke-container {
    padding: 1em;
    width: 70vw;
    background-color: white;
    height: fit-content;
    display: grid;
    grid-template-rows: 8fr 8fr 1fr;
    justify-content: center;
}

button {
    background-color: orange;
    justify-self: center;
    transition: 2s all;
}

button:hover {
    background-color: red;
    color: white;
}

header,
div>#jokes {
    text-align: center;
}