* {
    background-color: #121212;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}

img {
    width: 200px;
    height: 300px;
    background-color: white;
    animation: animation 8s none;
}

h1 {
    background-color: white;
    color: red;
    text-decoration: underline;
}

footer {
    margin: 2em 10px;
    font-size: 80%;
    border-top: 2px black solid;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    flex-wrap: wrap;
}

footer #foot {
    background-color: white;
}

@keyframes animation {
    0% {
        transform-origin: center;
        transform: rotateZ(985deg);
        width: 0px;
    }
    50% {
        transform-origin: center;
        transform: rotateZ(785deg);
        width: 50px;
    }
    75% {
        transform-origin: center;
        width: 80px;
        transform: rotateZ(285deg);
    }
    100% {}
}